/* Scss Document */
@import "variables.scss";

#kv_page{
  background: url("../img/looking/kv_design.jpg") no-repeat center / cover;
}
#design{
  #container{
    margin: 0 auto 103px;  
    .wrap{
      max-width: 1130px; 
    }
    
    @include sp(){
      margin: 0 0 15vw;
    }
  }
}

#room{
  background: $black;
  color: $white;
  line-height: 1.7;
  .ttl{
    font-size: 32px;
    text-transform: inherit;
	line-height: 1.5;
	  padding-bottom: 0.7em;
    text-align: left;
    margin-bottom: 30px !important;
    &:before{
      left: 0;
      transform: translateX(0);
    }
  }
  .readmore-link{
    margin-top: 50px;
  }
  @include pc(801){
    .room-img{
      img{
         width: 100%;
        height: 100%;
        object-fit: cover;
		  object-position: right;
      }
    }
    .room-info{
      padding: 80px 0 90px;
    }
    .room-img, .room-info{
      width: 50%;
    }
    .room-info-inner{
      width: 605px;        
    } 
    .room-item:nth-child(2n+1){
      background: url("../img/index/room_deco.jpg") no-repeat top right / auto 100%;
      .room-info-inner{        
        margin-left: 70px;
      }
    }
    .room-item:nth-child(2n){
      background: url("../img/index/room_deco2.jpg") no-repeat top left / auto 100%;
      .room-img{
        order:2;
      }
      .room-info{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-end;
      }
      .room-info-inner{
        margin-right: 70px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1400px) {
    .room-info-inner{
      margin: 0 50px !important;
      width: calc(100% - 100px);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .room-info{
      padding: 50px 0 80px;
    }
    .readmore-link{
      margin-top: 18px;
    }
  }
  @include sp(800px){
    .ttl{
      padding-bottom: 3vw;
      font-size: 5.8vw;
    }
	  .dis-flex-pc{
		  display: block !important;
	  }
    .room-info{
      box-sizing: border-box;
      padding: 1vw 16px 15vw;
    }
    .room-item:nth-child(2n+1) .room-info{
      background: url("../img/index/room_deco.jpg") no-repeat top right / auto 100%;
    }
    .room-item:nth-child(2n) .room-info{
      background: url("../img/index/room_deco2.jpg") no-repeat top left / auto 100%;
    }
    .readmore-link{
      margin-top: 5vw;
    }
  }
}
@media screen and (max-width: 800px){
  #design #container #room h2{
    padding-top: 3vw !important;
  }
}