/* Scss Document */
@import "variables.scss";


.list-category-food {
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9;
  li {
    width: 33.333333%;
    a {
      display: block;
      padding: 16px;
      background-color: #FFFCF5;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
    }
  }
}
.wrapper-list {
  .category {
    
    .head-category {
      padding: 4px 16px;
      background-color: #DEBC7E;
      font-size: 14px;
      font-weight: 500;
      position: sticky;
      top: 57px;
    }
    .body-category {
      .item-category {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:aquamarine;
        &:nth-child(odd) {
          background-color: $white;
        }
      }
    }
    
    &:nth-child(2) {
      .body-category {
        .item-category {
          background-color:beige;
          &:nth-child(odd) {
            background-color: $white;
          }
        }
      }
    }
    &:nth-child(3) {
      .body-category {
        .item-category {
          background-color:antiquewhite;
          &:nth-child(odd) {
            background-color: $white;
          }
        }
      }
    }
  }
}