@font-face {
  font-family: 'luxIcon';
  src: url("../fonts/luxIcon.eot?w58kje");
  src: url("../fonts/luxIcon.eot?w58kje#iefix") format("embedded-opentype"), url("../fonts/luxIcon.ttf?w58kje") format("truetype"), url("../fonts/luxIcon.woff?w58kje") format("woff"), url("../fonts/luxIcon.svg?w58kje#luxIcon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'luxIcon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mail-o:before {
  content: "\e932"; }

.icon-wechat:before {
  content: "\e930"; }

.icon-whatapp:before {
  content: "\e931"; }

.icon-air-conditioner:before {
  content: "\e919"; }

.icon-alarm-clock:before {
  content: "\e91a"; }

.icon-bath-01:before {
  content: "\e91b"; }

.icon-bath-amenities:before {
  content: "\e91c"; }

.icon-bathrobe-Slippers:before {
  content: "\e91d"; }

.icon-Bedding:before {
  content: "\e91e"; }

.icon-Bluetooth-music:before {
  content: "\e91f"; }

.icon-coffee-machine:before {
  content: "\e920"; }

.icon-dining-service:before {
  content: "\e921"; }

.icon-hair-dryer:before {
  content: "\e922"; }

.icon-Internet:before {
  content: "\e923"; }

.icon-ironing:before {
  content: "\e924"; }

.icon-key-card:before {
  content: "\e925"; }

.icon-kitchen:before {
  content: "\e926"; }

.icon-local-calls:before {
  content: "\e927"; }

.icon-Oversized-umbrella:before {
  content: "\e928"; }

.icon-receptionist:before {
  content: "\e929"; }

.icon-safe-box:before {
  content: "\e92a"; }

.icon-Socket:before {
  content: "\e92b"; }

.icon-telephone:before {
  content: "\e92c"; }

.icon-television:before {
  content: "\e92d"; }

.icon-wardrobe:before {
  content: "\e92e"; }

.icon-work-desk:before {
  content: "\e92f"; }

.icon-arrow-down:before {
  content: "\e900"; }

.icon-arrow-left:before {
  content: "\e901"; }

.icon-arrow-right:before {
  content: "\e902"; }

.icon-arrow-up:before {
  content: "\e903"; }

.icon-bath:before {
  content: "\e904"; }

.icon-bed-room:before {
  content: "\e905"; }

.icon-bed:before {
  content: "\e906"; }

.icon-calendar:before {
  content: "\e907"; }

.icon-children:before {
  content: "\e908"; }

.icon-cocktail:before {
  content: "\e909"; }

.icon-Facebook:before {
  content: "\e90a"; }

.icon-game:before {
  content: "\e90b"; }

.icon-hot-tub:before {
  content: "\e90c"; }

.icon-house:before {
  content: "\e90d"; }

.icon-Instagram:before {
  content: "\e90e"; }

.icon-lens:before {
  content: "\e90f"; }

.icon-location:before {
  content: "\e910"; }

.icon-mail:before {
  content: "\e911"; }

.icon-phone:before {
  content: "\e912"; }

.icon-size:before {
  content: "\e913"; }

.icon-swim:before {
  content: "\e914"; }

.icon-telegram:before {
  content: "\e915"; }

.icon-user:before {
  content: "\e916"; }

.icon-wheelchair:before {
  content: "\e917"; }

.icon-wifi:before {
  content: "\e918"; }

/* Font Color */
/* Select style */
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #000;
  width: 100%;
  height: 45px;
  border: 1px solid #cccccc;
  box-sizing: border-box; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in; }
  .select-styled:after {
    content: "\e900";
    font-family: 'luxIcon' !important;
    width: 0;
    height: 0;
    position: absolute;
    top: 9px;
    right: 30px;
    color: #cc9d6e; }
  .select-styled:hover {
    background-color: #fafafa; }
  .select-styled:active, .select-styled.active {
    background-color: #f7f7f7; }
    .select-styled:active:after, .select-styled.active:after {
      content: "\e903"; }

.select-options {
  width: 100%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 80%;
  transition: all 0.2s ease-in-out;
  left: -1px;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  border-top-width: 0; }
  .select-options.showMenu {
    opacity: 1;
    top: 100%;
    pointer-events: auto; }
  .select-options li {
    margin: 0;
    padding: 16px 0;
    text-indent: 15px;
    border-top: 1px solid #e6e6e6;
    transition: all 0.2s ease-in; }
    .select-options li:hover {
      background: #fae1c8; }
    .select-options li[rel="hide"] {
      display: none; }

/* End select style */
/* Form control */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .form-group label {
    margin-bottom: 10px;
    font-size: 14px; }
  .form-group.inline-form {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; }
    .form-group.inline-form input {
      width: calc(100% - 148px); }
    .form-group.inline-form button {
      display: flex;
      width: 140px; }

.form-control {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  padding: 11px 16px; }
  .form-control:focus {
    outline: 0;
    border-color: #cccccc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0); }

.form-datepicker {
  position: relative; }
  .form-datepicker input {
    width: 100%;
    padding-right: 56px; }
  .form-datepicker .icon-calendar {
    position: absolute;
    right: 16px;
    top: 11px;
    font-size: 20px;
    color: #cc9d6e;
    pointer-events: none; }

.ui-datepicker {
  padding: 12px 12px 8px 12px; }

.ui-datepicker td span, .ui-datepicker td a {
  padding: 8px; }

.ui-widget.ui-widget-content {
  margin-top: -1px;
  border-color: #cccccc; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  top: 4px; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 0; }

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 0; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  position: relative; }
  .ui-datepicker .ui-datepicker-prev span:before, .ui-datepicker .ui-datepicker-next span:before {
    font-family: 'luxIcon' !important;
    font-size: 17px;
    color: #333333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.ui-datepicker .ui-datepicker-prev span:before {
  content: "\e901"; }

.ui-datepicker .ui-datepicker-next span:before {
  content: "\e902"; }

.ui-datepicker .ui-icon {
  text-indent: 0 !important;
  font-size: 0; }

.ui-widget-header {
  background-color: #fae1c8;
  border: none; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background-color: #f0f0f0;
  border-color: #f0f0f0; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background-color: #fae1c8;
  border-color: #fae1c8; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background-color: #cc9d6e;
  border-color: #cc9d6e; }

.ui-state-default:hover {
  background-color: #cccccc;
  border-color: #cccccc; }

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
  background-color: rgba(204, 157, 110, 0.4);
  border: none; }

.ui-widget.ui-widget-content.dark-theme {
  background-color: #181514;
  border-color: #434241;
  color: rgba(255, 255, 255, 0.6); }
  .ui-widget.ui-widget-content.dark-theme .ui-widget-header {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6); }
  .ui-widget.ui-widget-content.dark-theme .ui-datepicker-prev span:before, .ui-widget.ui-widget-content.dark-theme .ui-datepicker-next span:before {
    color: rgba(255, 255, 255, 0.6); }
  .ui-widget.ui-widget-content.dark-theme .ui-datepicker-prev:hover, .ui-widget.ui-widget-content.dark-theme .ui-datepicker-next:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: none; }
  .ui-widget.ui-widget-content.dark-theme .ui-state-default, .ui-widget.ui-widget-content.dark-theme .ui-widget-content .ui-state-default, .ui-widget.ui-widget-content.dark-theme .ui-widget-header .ui-state-default, .ui-widget.ui-widget-content.dark-theme .ui-button, .ui-widget.ui-widget-content.dark-theme html .ui-button.ui-state-disabled:hover, .ui-widget.ui-widget-content.dark-theme html .ui-button.ui-state-disabled:active {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.1); }
  .ui-widget.ui-widget-content.dark-theme .ui-state-highlight, .ui-widget.ui-widget-content.dark-theme .ui-widget-content .ui-state-highlight, .ui-widget.ui-widget-content.dark-theme .ui-widget-header .ui-state-highlight {
    background-color: rgba(250, 225, 200, 0.3);
    color: #ffffff;
    border-color: rgba(250, 225, 200, 0.3); }
  .ui-widget.ui-widget-content.dark-theme .ui-state-active, .ui-widget.ui-widget-content.dark-theme .ui-widget-content .ui-state-active, .ui-widget.ui-widget-content.dark-theme .ui-widget-header .ui-state-active, .ui-widget.ui-widget-content.dark-theme a.ui-button:active, .ui-widget.ui-widget-content.dark-theme .ui-button:active, .ui-widget.ui-widget-content.dark-theme .ui-button.ui-state-active:hover {
    background-color: #cc9d6e;
    color: #ffffff;
    border-color: #cc9d6e; }

@media screen and (max-width: 767px) {
  .ui-datepicker {
    width: 19em; } }
#booking-box {
  background: url("../img/index/room_deco2.jpg") no-repeat left center/auto 100%, url("../img/index/room_deco.jpg") no-repeat right center/auto 100% #181514; }

.booking-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 30px; }
  .booking-box .form-group {
    width: 100%; }
    .booking-box .form-group label {
      color: #ffffff; }
    .booking-box .form-group .form-control {
      border-color: #434241;
      background-color: #181514;
      color: rgba(255, 255, 255, 0.5); }
    .booking-box .form-group .select {
      border-color: #434241; }
    .booking-box .form-group .select-styled {
      background-color: #181514; }
  .booking-box .btn-primary {
    background-color: #cc9d6e;
    display: flex;
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    font-size: 14px; }
    .booking-box .btn-primary span {
      margin-right: 10px;
      font-size: 24px; }
    .booking-box .btn-primary:hover {
      background-color: #a97643;
      opacity: 1; }
  .booking-box .select {
    color: rgba(255, 255, 255, 0.5); }
  .booking-box .select-options {
    background-color: #181514;
    border-color: #434241; }
    .booking-box .select-options li {
      border-color: #434241; }
      .booking-box .select-options li:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #ffffff; }
  .booking-box .ui-widget-content {
    background-color: #181514; }

.col {
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    .col:not(:first-child) {
      margin-left: 20px; }
    .col:last-child {
      width: calc((100% - 100px)/6); }
    .col:first-child {
      width: calc((100% - 40px)/3); }
      .col:first-child .form-group {
        width: calc((100% - 20px)/2); }
    .col:nth-child(2) {
      width: calc((100% - 40px)/2); }
      .col:nth-child(2) .form-group {
        width: calc((100% - 40px)/3); } }

@media screen and (min-width: 768px) and (max-width: 960px) {
  .col {
    width: 15.6%; }

  .booking-box .btn-primary {
    font-size: 12px; }
    .booking-box .btn-primary span {
      font-size: 20px; } }
@media screen and (max-width: 767px) {
  .booking-box {
    display: block;
    padding: 30px 16px; }

  .col {
    width: 100%;
    margin-bottom: 25px; }
    .col:first-child .form-group {
      width: calc((100% - 20px)/2); }
    .col:nth-child(2) .form-group {
      width: calc((100% - 40px)/3); }

  .form-group label {
    margin-bottom: 5px; } }
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger-box {
  width: 25px;
  height: 19px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 25px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -9px; }

.hamburger-inner::after {
  bottom: -9px; }

.hamburger .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.hamburger .hamburger-inner::before, .hamburger .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear; }

.hamburger .hamburger-inner::before {
  transition-property: top, opacity; }

.hamburger .hamburger-inner::after {
  transition-property: bottom, transform; }

.navOpen .hamburger .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.navOpen .hamburger .hamburger-inner::before, .navOpen .hamburger .hamburger-inner::after {
  transition-delay: 0s; }

.navOpen .hamburger .hamburger-inner::before {
  top: 0;
  opacity: 0; }

.navOpen .hamburger .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg); }

/* btn shared*/
