@import "variables.scss";
@import "common.css";
@import "font.css";

a {
  text-decoration: none !important;
}
img {
  width: 100%;
  height: auto;
}
.mt-60 {
  margin-top: 60px;
}
.btn-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: $bgBody;
  font-size: 14px;
  font-family: "San Francisco Text";
  font-weight: normal;
}
 
header {
  height: 60px;
  background-color: $white;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  .logo {
    width: 127px;
    height: 30px;
    img {
      width: 100%;
    }
  }
}
ul.list-btns {
  display: flex;
  li {
    margin-left: 8px;
    a {
      display: flex;
      width: 36px;
      height: 36px;
      align-items: center;
      justify-content: center;
      background-color: $greyButton;
      border-radius: 18px;
      position: relative;
      background-color: $greyButton;
      color: $greyButtonIcon;
      .icon-comment {
        font-size: 16px;
      }
      .icon-bell {
        font-size: 18px;
      }
      img {
        width: 100%;
        border-radius: 18px;
      }
      &.has-new {
        &:before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          top: 0;
          right: 0;
          border-radius: 6px;
          border: 1px solid $white;
          background-color: $red1;
        }
        
      }
    }
  }
}

.section {
  padding: 20px 16px;
  .head-section {
    background-color: $white;
    border-radius: 8px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
    }
    .btn-filter {
      span {
        font-size: 22px;
        color: $greyButtonIcon;
      }
    }
  }
  .content-section {
    padding-top: 12px;
  }
}
.list-fish-sell {
  display: flex;
  flex-wrap: wrap;
  .item-lfs {
    width: calc((100% - 12px)/2);
    margin-bottom: 12px;
    &:nth-child(2n+2) {
      margin-left: 12px;
    }
    .thumb-lfs {
      display: block;
      padding-top: 75%;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
      }
    }
  }
  .info-lfs {
    background-color: $white;
    .title-lfs, .proce-lfs {
      font-size: 13px;
      font-weight: bold;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    .title-lfs {
      padding: 8px 8px 0;
      text-transform: capitalize;
      @include ttl_hidden(1);
    }
    .proce-lfs {
      margin-top: 4px;
      color: $primary;
      padding: 0 8px;
    }
  }
  .account-lfs {
    display: flex;
    border-top: 1px solid $lineColor;
    padding: 8px;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    .avatar {
      width: 24px;
      height: 24px;
      img {
        border-radius: 12px;
      }
    }
    .adress {
      font-size: 11px;
      line-height: 13px;
      color: $textGrey;
      @include ttl_hidden(2);
      width: calc(100% - 32px);
    }
  }
}






footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 54px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.07);
  background-color: $white;
  .wave-bottom {
    position: absolute;
    left: 50%;
    top: -24px;
    transform: translateX(-50%);
    &:before {
      content: "";
      width: 92px;
      left: -24px;
      height: 24px;
      position: absolute;
      background: url("../img/wave-bottom.svg") no-repeat;
    }
  }
  .btn-post {
    position: relative;
    width: 44px;
    height: 44px;
    display: flex;
    background-color: $primary;
    color: $white;
    border-radius: 22px;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    
  }
  .menu-bottom-l, .menu-bottom-r {
    width: calc((100% - 86px)/2);
    display: flex;
    align-items: center;
    height: 54px;
    a {
      height: 100%;
      display: flex;
      flex-flow: column;
      width: 50%;
      justify-content: center;
      align-items: center;
      [class^="icon-"], [class*=" icon-"] {
        font-size: 26px;
        color: #c4c4c4;
      }
      &.active {
        [class^="icon-"], [class*=" icon-"] {
          color: $black;
        }
        .title {
          color: $black;
        }
      }
      .title {
        margin-top: 4px;
        font-size: 11px;
        color: #888888;
      }
    }
  }
  
  /* iPhone 11 Pro Max 2688x1242px at 458ppi */
  @media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { 
    height: 84px;
  }
}







