@import "common.css";
@import "variables.scss";
@import "font.css";

body {
  background-color: $bgBody;
  color: $text_body;
  font-size: 14px;
  font-family: "San Francisco Text";
  font-weight: normal; 
  line-height: 1.43;
  letter-spacing: 0;
  min-width: inherit;
  min-height: inherit;
  max-height: 100%;
  word-break: break-word;
}
a {
  text-decoration: none !important;
}
img {
  width: 100%;
  height: auto;
}
button{
  cursor: pointer;
}
.ob-fit {
  object-fit: cover;
  height: 100%;
}
.ava {
  position: relative;
  img {
    border-radius: 50%;
  }
}
.dis-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.verified:before {
  content: "\e92c";
  font-family: 'bettamarket' !important;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background: #1d9bf0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding: 5px;
  color: #ffffff;
  z-index: 9;
}
.mt-60 {
  margin-top: 60px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-8 {
  margin-top: 8px;
}
.btn-more {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $greyButton;
  box-sizing: border-box;
  
  &.btn-dark {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    span {
      background-color: $white;
    }
  }
  span {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin: 1.5px;
    background-color: $textGrey;
  }
}
.btn-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.btn-link {
  color: $primary;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}
.btn-primary {
  box-sizing: border-box;
  height: 44px;
  padding: 0 16px;
  background-color: $primary;
  color: $white;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  outline: none;
  &.sub-btn{
    border: 1px solid $primary;
    color: $primary;
    background-color: $white;
  }
  span {
    margin-right: 8px;
    font-size: 13px;
  }
  &.ripple {
    background-position: center;
    transition: background 0.6s;
  }
  &.ripple:hover {
    background: $primary radial-gradient(circle, transparent 1%, $primary 1%) center/15000%;
  }
  &.ripple:active {
    background-color: $white;
    background-size: 100%;
    transition: background 0s;
  }
}
.btn-secondary {
  box-sizing: border-box;
  height: 44px;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: $green;
  color: $white;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  span {
    margin-right: 8px;
    font-size: 13px;
  }
  &.ripple {
    background-position: center;
    transition: background 0.6s;
  }
  &.ripple:hover {
    background: $green radial-gradient(circle, transparent 1%, $green 1%) center/15000%;
  }
  &.ripple:active {
    background-color: $white;
    background-size: 100%;
    transition: background 0s;
  }
}
.btn-md {
  height: 34px;
}
.btn-blue-light {
  background-color: rgba($primary,0.1);
  color: $primary;
}
.btn-blue-border {
  background-color: $white;
  color: $primary;
  border: 1px solid $primary;
}
.btn-disable {
  background-color: $bg_grey;
  color: $textGrey1;
  pointer-events: none;
}
input{
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  &::placeholder{
    font-weight: bold;
    color: #b7b7b7;
  }
}
button {
  border: none;
}
.form-group {
  margin-bottom: 20px;
  &.inline-form {
    position: relative;
    a {
      position: absolute;
      right: 4px;
      top: 4px;
      color: $primary;
      span {
        font-size: 18px;
      }
      &.btn-disable {
        color: $colorBorderForm;
      }
    }
  }
}
.form-control {
  display: block;
  width: 100%;
  padding: 12px 24px;
  color: $black;
  background-color: $white;
  border: 1px solid $colorBorderForm;
  appearance: none; // Fix appearance for date inputs in Safari
  border-radius: 4px;
  transition: 0.2s all $eio;

  &:focus {
    border-color: $primary;
    outline: 0;
  }

  // Placeholder
  &::placeholder {
    color: $textGrey1;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }
}
.modal-sheet {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 21;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s opacity $eio;
  .btn-close {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: rgba($black1,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: $white;
      font-size: 12px;
    }
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
    .overlay-modal {
      opacity: 1;
    }
    .bottom-modal {
      transform: translateY(0);
    }
    .top-modal {
      transform: translateY(0);
    }
    .left-modal {
      transform: translateX(0);
    }
  }
  .overlay-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.2s opacity $eio;
    background-color: rgba($black1,0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
  .bottom-modal {
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    background-color: $white;
    transform: translateY(100%);
    transition: 0.2s transform $eio;
  }
  .top-modal {
    top: 0;
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    background-color: $white;
    transform: translateY(-100%);
    transition: 0.2s transform $eio;
  }
  .left-modal {
    left: 0;
    position: absolute;
    width: calc(100% - 60px);
    height: 100%;
    top: 0;
    background-color: $white;
    transform: translateX(-100%);
    transition: 0.2s transform $eio;
    .btn-close {
      position: absolute;
      right: -52px;
      top: 10px;
    }
  }
  .middle-modal {
    top: 50%;
    position: absolute;
    width: 100%;
    left: 50%;
    overflow: hidden;
    background-color: $white;
    transform: translate(-50%,-50%);
    transition: 0.2s transform $eio;
  }
  .head-modal {
    padding: 16px;
    border-bottom: 1px solid $lineColor;
    h3 {
      font-size: 16px;
    }
  }
  .content-modal {
    padding: 16px;
  }
}
.modal-video {
  background: none !important;
  &.horizontal {
    top: 0;
    transform: translate(-50%,40px);
    .video-zoom {
      padding-top: 150%;
    }
  }
  .content-modal {
    padding: 0;
    padding-bottom: 60px;
  }
  .video-zoom {
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
  }
  .btn-close {
    position: fixed;
    bottom: 2px;
    left: 50%;
    margin-left: -22px;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: rgba($black1,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      color: $white;
      font-size: 12px;
    }
  }
}
header {
  z-index: 20;
  height: 60px;
  background-color: $white;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  .logo {
    width: 127px;
    height: 30px;
    img {
      width: 100%;
    }
  }
  &.header-transparent {
    background: none;
    box-shadow: none;
    overflow: hidden;
    .header-l, .header-r {
      position: relative;
    }
    .bg-sticky {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      left: 0;
      top: 0;
      opacity: 0;
      transition: 0.2s opacity $eio;
      border-radius: 0 0 20px 20px;
      .photo-clone {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background-color: rgba($black1,0.1);
          backdrop-filter: blur(20px);
          -webkit-backdrop-filter: blur(20px);
        }
      }
      &.show {
        opacity: 1;
      }
    }
    .btn-back {
      width: 44px;
      height: 44px;
      border-radius: 22px;
      background-color: rgba($black1,0.3);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      span {
        color: white;
      }
    }
    .btn-link {
      display: flex;
      align-items: center;
      height: 44px;
      border-radius: 22px;
      background-color: rgba($black1,0.3);
      padding: 0 16px;
      font-weight: normal;
      color: $white;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      strong {
        margin-left: 4px;
      }
    }
  }
}
ul.list-btns {
  display: flex;
  overflow: hidden;
  li {
    margin-left: 8px;
    a {
      display: flex;
      width: 36px;
      height: 36px;
      align-items: center;
      justify-content: center;
      background-color: $greyButton;
      border-radius: 18px;
      position: relative;
      background-color: $greyButton;
      color: $greyButtonIcon;
      .icon-comment {
        font-size: 16px;
      }
      .icon-bell {
        font-size: 18px;
      }
      img {
        width: 100%;
        border-radius: 18px;
      }
      &.has-new {
        &:before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          top: 0;
          right: 0;
          border-radius: 6px;
          border: 1px solid $white;
          background-color: $red1;
        }
        
      }
    }
  }
}
.content-search-box {
  margin: -16px;
}
.search-box {
  border-bottom: 1px solid $lineColor;
  display: flex;
  padding: 12px 16px;
  position: relative;
  top: 0;
  position: sticky;
  background-color: $white;
  z-index: 10;
  .form-control {
    border-radius: 22px;
    padding-right: 60px;
  }
  .btn-submit-search {
    position: absolute;
    right: 17px;
    top: 6px;
    padding: 16px;
    span {
      font-size: 18px;
      color: $primary;
    }
  }
}
.list-suggest {
  margin-top: 4px;
  display: block;
  height: 320px;
  overflow: auto;
  li {
    padding-left: 60px;
    position: relative;
    border-bottom: 1px solid $lineColor;
    &:hover{
      color: $primary;
      background-color: $bg-grey;
    }
    &:nth-last-child(1) {
      border: 0;
    }
    a {
      display: block;
      padding: 12px 16px 12px 0;
      font-weight: normal;
      &.verified {
        position: relative;
        &:before {
          left: -20px;
          bottom: 14px;
          width: 6px;
          height: 6px;
          font-size: 6px;
        }
        
      }
      img {
        width: 24px;
        height: 24px;
        margin-left: -40px;
        margin-right: 10px;
        border-radius: 16px;
      }
    }
  }
  span.icon-search {
    color: $grey4;
    top: 15px;
    position: absolute;
    left: 27px;
    font-size: 16px;
  }
  &.hide-list-suggest {
    display: none;
  }
}    

.section {
  padding: 20px 16px;
  .head-section {
    background-color: $white;
    border-radius: 8px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
    }
    .btn-filter {
      span {
        font-size: 22px;
        color: $greyButtonIcon;
      }
    }
  }
  .content-section {
    padding-top: 12px;
    padding-bottom: 60px;
  }
}







.bottom-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 0 12px 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.07);
  background-color: $white;
  z-index: 20;
  border-radius: 20px 20px 0 0;
  .wave-bottom {
    position: absolute;
    left: 50%;
    top: -24px;
    transform: translateX(-50%);
    &:before {
      content: "";
      width: 92px;
      left: -24px;
      height: 24px;
      position: absolute;
      background: url("../img/wave-bottom.svg") no-repeat;
    }
  }
  .btn-post {
    position: relative;
    width: 44px;
    height: 44px;
    display: flex;
    background-color: $primary;
    color: $white;
    border-radius: 22px;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    
  }
  .menu-bottom-l, .menu-bottom-r {
    width: calc((100% - 72px)/2);
    display: flex;
    align-items: center;
    height: 44px;
    a {
      height: 100%;
      display: flex;
      flex-flow: column;
      width: 50%;
      justify-content: center;
      align-items: center;
      [class^="icon-"], [class*=" icon-"] {
        font-size: 32px;
        color: $black;
      }
      &.active {
        [class^="icon-"], [class*=" icon-"] {
          color: $primary;
        }
        .title {
          color: $primary;
        }
        span {
          &.icon-buy-fish-o:before {
            content: "\e905";
          }
          &.icon-auction-fish-o:before {
            content: "\e900";
          }
          &.icon-show-fish-o:before {
            content: "\e903";
          }
          &.icon-event-fish-o:before {
            content: "\e901";
          }
        }
      }
      
      .title {
        margin-top: 4px;
        font-size: 11px;
        color: #888888;
        line-height: 10px; 
      }
    }
  }
  
  /* iPhone 11 Pro Max 2688x1242px at 458ppi */
  /*@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { 
    padding-bottom: 34px;
  }*/
}

.blocker {
  z-index: 20;
  padding: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.modal {
  
  .head-modal {
    padding: 16px;
    border-bottom: 1px solid $lineColor;
    h3 {
      font-size: 16px;
    }
  }
  .content-modal {
    padding: 16px;
  }
}

ul.menu-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px;
  li {
    a {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      .pick-type {
        display: flex;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: rgba($primary,0.1);
        font-size: 40px;
        color: $primary;
      }
      .pick-name {
        font-weight: bold;
        margin-top: 8px;
      }
    }
  }
}


.box-share {
  ul.social-share {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    li {
      width: 50%;
      
      a {
        padding: 12px 0;
        display: flex;
        align-items: center;
        font-size: 13px;
        img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          margin-right: 8px;
        }
      }
    }
  }
  .reacts-share {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      width: calc((100% - 8px)/2);
      span {
        font-size: 18px;
        &.icon-report {
          font-size: 20px;
        }
      }
    }
  }
}


/* Button style */
button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;
  box-shadow: 0 0 4px #999;
  outline: none;
}

/////// ANIMATION CSS ////////
@keyframes scaleInOut {
  0% {transform: scale(1);}
  40% {transform: scale(1.4);}
  60% {transform: scale(1.4);}
  100% {transform: scale(1);}
}



///// Animation ////////
@keyframes scaleUp {
  0% {
    transform: scale(1) translateY(0);
    
  }
  40% {
    transform: scale(1.3) translateY(-2px);
  }
  60% {
    transform: scale(1.3) translateY(-2px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0);
    
  }
  40% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fly40 {
  0% {
    top: 10px;
  }
  100% {
    top: -40px;
  }
}
@keyframes fly50 {
  0% {
    top: 10px;
  }
  100% {
    top: -50px;
  }
}
@keyframes flyUp {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 4px;
  }
  50% {
    margin-left: -4px;
    opacity: 1;
  }
  75% {
    margin-left: 4px;
  }
  100% {
    margin-left: -4px;
    opacity: 0;
  }
}
@keyframes flyUp1 {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: -4px;
  }
  50% {
    margin-left: 4px;
    opacity: 1;
  }
  75% {
    margin-left: -2px;
  }
  100% {
    margin-left: 2px;
    opacity: 0;
  }
}
.page-status {
  display: flex;
  padding: 16px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  span {
    width: 180px;
      height: 180px;
      border-radius: 50%;
      font-size: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      color: rgba($black, 0.3);
      margin-bottom: 40px;
  }
  h1 {
    font-size: 18px;
    margin-bottom: 8px !important;
    font-weight: bold !important;
  }
  p {
    font-size: 16px;
    color: $textGrey;
  }
  .btn-primary {
    margin-top: 24px;
    padding: 0 32px;
    text-transform: uppercase;
  }
}
.filter-fish {
  .content-modal {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
  }
  .filter-form {
    height: calc(100% - 70px);
    overflow: auto;
    box-sizing: border-box;
    padding: 12px;
  }
}
.box-filter {
  .head-bf {
    font-weight: bold;
    text-transform: uppercase;
  }
  .parent-filter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $lineColor;
      bottom: 10px;
    }
    span {
      font-size: 13px;
      font-weight: bold;
      position: relative;
      display: block;
      padding: 0 12px;
      background-color: $white;
      
    }
  }
}
ul.list-radio-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 12px;
  li {
    width: calc((100% - 8px)/2);
    margin-bottom: 8px;
    
    &:nth-child(1) {
      width: 100%;
    }
    a {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      background-color: $bg_grey;
      border-radius: 4px;
      font-size: 13px;
      position: relative;
      line-height: normal;
      padding-left: 34px;
      border: 1px solid $bg_grey;
      transition: 0.2s all $eio;
      box-sizing: border-box;
      &:before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid $colorBorderForm;
        left: 12px;
        top: 12px;
      }
      &:after {
        opacity: 0;
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $primary;
        left: 15px;
        top: 15px;
        transition: 0.2s all $eio;
      }
      &.selected {
        
        background-color: $white;
        border: 1px solid $primary;
        color: $primary;
        &:before {
          border: 1px solid $primary;
        }
        &:after {
          opacity: 1
        }
      }
      
    }
  }
}
ul.list-check-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 12px;
  li {
    width: calc((100% - 8px)/2);
    margin-bottom: 8px;
    a {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      background-color: $bg_grey;
      border-radius: 4px;
      font-size: 13px;
      border: 1px solid $bg_grey;
      transition: 0.2s all $eio;
      box-sizing: border-box;
      position: relative;
      &:after {
        opacity: 0;
        position: absolute;
        content: "\e92c";
        font-family: 'bettamarket' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        position: absolute;
        color: $primary;
        left: 12px;
        top: 15px;
        font-size: 8px;
        transition: 0.2s all $eio;
      }
      &.selected {
        background-color: $white;
        border: 1px solid $primary;
        color: $primary;
        padding-left: 30px;
        &:after {
          opacity: 1;
        }
      }
    }
  }
}
.filter-action {
/*  position: fixed;
  bottom: 0;
  left: 0;*/
  position: relative;
  width: 100%;
  padding: 12px;
  background-color: $white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -1px 4px rgba($black1, 0.1);
  z-index: 100;
  a {
    width: calc((100% - 8px)/2);
  }
}









