@import "global.scss";
@import "_customFancybox.scss";
.notification {
  .section {
    padding: 0;
    padding-top: 60px;
  }
  .container {
    background-color: $white; 
  }
}
.sub-page {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-l {
      display: flex;
      align-items: center;
      h1 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 8px;
      }
    }
    .header-r {
      .btn-link {
        font-size: 13px;
      }
    }
  }
}
.list-nh {
  padding-top: 8px;
  margin-top: 0 !important;
  height: calc(100% - 61px);
  overflow-y: auto;
  li.item-notification {
    position: relative;
    padding: 12px 16px;
    display: flex;
    border-bottom: 1px solid #efefef;
    a {
      display: flex;
      width: 100%;
      color: $text_body;
      text-decoration: none;
    }
    &:hover {
      background-color: $bg-grey;
    }
    &:after {
      content: "" !important;
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: $primary;
      right: 12px;
      top: 50%;
      display: none;
      transform: translateY(-50%);
    }
    &.unread {
      &:after {
        display: block;
      }
      .message {
        font-weight: bold;
      }
    }
    .ava {
      width: 44px;
      height: 44px;
      margin-right: 8px;
      &.verified:before {
        width: 6px;
        height: 6px;
        font-size: 6px;
      }
      img {
        border-radius: 22px;
      }
    }
    .content-in {
      width: calc(100% - 52px);
      .react-in {
        display: flex;
        align-items: center;
        i {
          color: $grey_light;
          margin: 0 4px;
        }
        span {
          max-width: 98px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .price {
          color: $green;
          font-size: 12px;
          padding: 2px 8px;
          border: 1px dashed $green;
          font-weight: bold;
          margin-left: 8px;
          border-radius: 12px;
        }
      }
      .message {
        margin: 2px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: calc(100% - 40px);
      }
      .date-in {
        color: $grey_light;
        font-size: 13px;
      }
    }
  }
}

.masonry {
  .masonry-item {
    width: calc((100% - 12px)/2);
    margin-bottom: 12px;
  }
  .masonry-content {
    position: relative;
  }
 
}
.show-dont-sold{
  width: 100% !important;

  .ava{
    width: 24px;
    height: 24px;
    margin-right: 8px;  
    &.verified {
      &:before {
        font-size: 5px;
        right: -5px;
        width: 3px;
        height: 3px;
      }
    }
    img {
      border-radius: 15px;
    }
  }
  .fish-img-show{
    border-radius: 12px 12px 0 0;
    display: block;
    overflow: hidden;
    position: relative;
    background-color: $white;
    &.fish-video:after{
      content:"";
      background: url("../img/icon_play.svg") no-repeat center / 100% auto;
      position: absolute;
      bottom: 8px;
      right: 8px;
      width: 32px;  
      height: 32px;
      z-index: 1;
    }
  }
  .fish-tt{
    justify-content: space-between;
    align-items: center; 
    padding: 8px;
    background-color: $white;
    border-radius: 0 0 12px 12px;
    ul {
      li {
        margin-left: 12px;
        
        i {
          margin-right: 4px;
          
        }
      }
    }
  }
}
.like-count, .comment-count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: $textGrey;
  i {
    color: $textGrey1;
  }
}
.comment-count {
  i {
    margin-right: 8px;
  }
}
.like-count {
  &.liked {
    i {
      color: $red2 !important;
    }
  }
  &.liked {
    
    i {
      color: $red2 !important;
      
    }
    i.m {
      animation-duration: 0.4s;
      transition-timing-function: ease-in-out;
      animation-name: scaleUp;
      .m1 {
        animation: fly40 0.8s, flyUp1 0.8s;
        animation-delay: 0.3s;
      }
      .m2 {
        animation: fly40 0.8s, flyUp1 0.8s;
        animation-delay: 0.1s;
      }
      .m3 {
        animation: fly50 0.8s, flyUp 0.8s;
        animation-delay: 0.2s;
      }
      .m4 {
        animation: fly50 0.8s, flyUp 0.8s;
        animation-delay: 0.4s;
      }
    }
    
  }
  i{
    color: $colorIcon;
    display: flex;
    font-size: 14px;
    margin-right: 8px;
    position: relative;
    .icon-heart {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 6px !important;
      transform: translate(-50%, -50%);
      margin-right: 0;
    }
  }
}
.show-more{
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #1d9bf0;
  font-weight: bold;
  border-radius: 51px;
  background-color: $white;
  line-height: 44px;
  margin: 15px 0 40px;
  transition: ease 0.2s;
  &:hover{
    background-color: #1d9bf0;
    color: #fff;
  }
}
//////  show detail  ////////
.photo-show {
  box-shadow: 0px 2px 20px rgba($black1,0.3);
  position: relative;
}
.show-detail {
  margin: 0 16px 12px 16px;
  background-color: $white;
  border-radius: 0 0 12px 12px;
  
}
.info-show-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px 16px 12px;
}
.account-sd {
  display: flex;
  align-items: center;
  width: calc(100% - 130px);
  .ava {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 8px;
    img {
      border-radius: 100%;
    }
    &.verified {
      &:before {
        font-size: 5px;
        right: -2px;
        width: 3px;
        height: 3px;
      }
    }
  }
  .brand {
    display: flex;
    flex-flow: column;
    width: calc(100% - 48px);
    .name {
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .date {
      font-size: 13px;
      color: $textGrey1;
    }
  }
}
.desc-sd {
  padding: 0 12px 12px 12px;
  border-bottom: 1px solid $lineColor;
  font-size: 16px;
}
.reacts-sd {
  width: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .like-count, .comment-count {
    background-color: $greyButton;
    height: 44px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% - 56px)/2);
    font-weight: bold;
    i {
      font-size: 18px;
    }
    span {
      font-weight: normal;
      margin-left: 2px;
    }
  }
}
.box-comment {
  margin: 0 16px 12px 16px;
  background-color: $white;
  border-radius: 12px;
  
}
.chatgroup-box{
  padding: 16px 12px;
  .ava{
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }
}
.chat-row{
  margin-bottom: 8px;
  align-items: flex-start;
  &:nth-child(1){
    .row-info .row-price{
      border-color: $green;
      color: $green;
      background: $green2;
    }
  }
}
.box-comment {
  align-items: flex-start;
  margin-bottom: 12px;
  h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold !important;
    padding: 12px 16px 0 !important;
  }
  .link-tooltip{
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 27px;
    color: $grey;
    line-height: 1;
    letter-spacing: -1px;
    display: none;
  }
  .tooltip-info{
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 1;
    padding: 12px;
    border-radius: 4px;
    box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.13);
    border: solid 1px $grey4;
    background-color: $white;
    &:before{
      content:"";
      position: absolute;
      top: -7px;
      right: 15px;
      width: 12px;
      height: 12px;
      transform: rotate(135deg);
      background: #fff;
      border-bottom: solid 1px $grey4;
      border-left: solid 1px $grey4;
    }
    &.show-tooltip {
      display: block;
    }
    a{
      display: block;
      min-width: 159px;
      line-height: 29px;
      box-sizing: border-box;
      padding-left: 8px;
      &:hover{
        background: $border_color;
      }
    }
  }
  .has-tooltip {
    width: calc(51.1% - 28px);
    position: relative;
    padding-right: 40px;
    .link-tooltip {
      display: block;
    }
  }
  .fish-txt{
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0 5px;
  }
  .show_sns{
    border-bottom: 1px solid $border_color;    
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;    
  }
  .row-info{
    background: $bg_grey;
    width: 100%;
    margin-bottom: 4px;
    .username {
      color: $primary;
      font-weight: 700;
    }
    p:first-child {
      margin-bottom: 4px; 
      span {
        color: #b2b2b2;
        display: inline-block;
        margin-left: 8px;
        font-size: 13px;
      }
    }
    
  }
  .reply{
    font-weight: bold;
    color: $grey_light;
    margin-left: 12px;
  }
  .form-group{
    margin-bottom: 4px;
  }
  input{
    width: 100%; 
    height: 48px;
    box-sizing: border-box;
    border-radius: 24px;
    padding-right: 48px;
  }
  .chat-row{
    margin-bottom: 12px;
    .react {
      margin-top: 4px;
    }
    .ava{
      width: 30px;
      height: 30px;
      margin-top: 6px;
      margin-right: 8px;
      &.verified:before {
        font-size: 5px;
        width: 4px;
        height: 4px;
        right: -4px;
      }
    }
    & > div{
      width: calc(100% - 38px);
      .chat-row{
        margin-bottom: 8px;
        & > div{
          width: calc(100% - 32px);
          
        }
        .row-info{
          margin-bottom: 0;          
        }
        input{
          height: 34px;
          border-radius: 17px;
          padding: 8px 36px 8px 16px;
        }
        .form-group{
          margin-bottom: 4px;
          .btn-icon {
            width: 34px;
            height: 34px;
            top: 0;
            right: 2px;
            span {
              font-size: 16px;
            }
          }
        }
        
          
        
      }
      
      .ava{
        width: 24px;
        height: 24px;                
      }
    }
    
  }

  .comment-count i, .like-count i{
    color: #c0c0c0;
  }
  .liked .like-count i{
    color: $red2;
  }
}
.row-info {
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 13px 12px;
  width: calc(100% - 52px);
  line-height: 1.36;
}
.relate-show {
  padding: 16px 16px 80px;
  h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold !important;
    margin-bottom: 12px !important;
  }
}
.modal-sheet {
  .modal-account-menu {
    border-radius: 0;
    .content-modal {
      padding: 0;
      .btn-close {
        span {
          color: $textGrey;
        }
      }
    }
  }
}

.wrap-account-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid $lineColor;
  .info-am {
    display: flex;
    align-items: center;
    
    img {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      margin-right: 12px;
    }
    .name {
      font-weight: bold;
      margin-right: 4px;
    }
    .link-grey {
      color: $textGrey;
    }
  }
  .btn-close {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: $greyButton;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 11px;
    }
  }
}
.wrap-content-menu {
  max-height: calc(100vh - 61px);
  overflow: auto;
  ul.account-menu {
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        border-bottom: 1px solid $lineColor;
        span {
          font-size: 12px;
        }
      }
    }
  }
}
.footer {
  .copyright {
    font-size: 13px;
    color: $textGrey;
    padding: 8px 16px;
    border-top: 1px solid $lineColor;
  }
}
.wrap-menu-footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  ul.support {
    width: calc(50% - 4px);
  }
  
}
ul.support {
  &.social {
    padding: 0 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    li:nth-child(1) {
      width: 100%;
    }
    li {
      width: calc(50% - 4px);
      
      a {
        display: flex;
        align-items: center;
        img {
          width: 24px;
          height: 24px;
          margin-right: 12px;
        }
      }
    }
  }
  li {
    margin-bottom: 4px;
    &:nth-child(1) {
      margin-bottom: 12px;
      font-weight: bold;
    }
    a {
      font-size: 13px;
      padding: 8px 0;
    }
  }
}
.photo-sell {
  padding-top: 75%;
  overflow: hidden;
  position: relative;
  box-shadow: (0px 2px 20px rgba($black1, 0.2));
  .slider-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    .owl-carousel {
      height: 100%;
      .item-photo {
        display: block;
        padding-top: 75%;
        overflow: hidden;
        position: relative;
        .bg-holder {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1.5);
          background-position: center;
          background-size: cover;
          filter: blur(30px);
          &:before {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background-color: rgba($black1,0.4);
          }
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: auto;
          transform: translate(-50%,-50%);
          &.horizontal {
            height: 100% !important;
            width: auto !important;
          }
        }
        .date {
          background-color: rgba(0, 0, 0, 0.3);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          height: 24px;
          border-radius: 12px;
          color: $white;
          font-size: 13px;
          padding: 0 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 8px;
          position: absolute;
          bottom: 16px;
          right: 12px;
        }
      }
    }
  }
  .info-photo {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    z-index: 2;
    .btn-play {
      width: 34px;
      height: 34px;
      border-radius: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary;
      span {
        color: $white;
        font-size: 18px;
        transform: translateX(1px);
      }
    }
  }
  .paging-photo {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 24px;
    border-radius: 12px;
    color: $white;
    font-size: 13px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }
  .owl-dots {
    position: absolute;
    bottom: 24px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .owl-dot {
      margin: 0 4px;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background-color: rgba($white,0.2);
      &.active {
        background-color: $white;
      }
    }
  }
}

.sub-page {
  padding-bottom: 80px;
}
.info-dfs {
  border-radius: 12px;
  background-color: $white;
  margin: 0 16px 12px 16px;
  &:nth-child(1) {
    border-radius: 0 0 12px 12px;
  }
  h1 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold !important;
    padding: 12px 12px 4px 12px!important;
  }
  h2 {
    font-size: 14px;
    font-weight: bold !important;
    padding: 12px 12px 4px 12px!important;
    text-transform: capitalize;
  }
  h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold !important;
    padding: 12px 12px 0 12px!important;
  }
  .price {
    color: $primary;
    font-weight: bold;
    padding: 0 12px;
  }
  .entry-dfs {
    border-top: 1px dashed $lineColor;
    border-bottom: 1px dashed $lineColor;
    padding: 12px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    dl {
      dt {
        color: $textGrey;
        font-size: 13px;
      }
    }
  }
  .desc-dfs {
    padding: 12px 12px 16px 12px;
  }
}
.brand-shop {
  border-radius: 12px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px 12px 16px;
  padding: 12px;
  .account-shop {
    display: flex;
    align-items: center;
    .ava {
      display: block;
      margin-right: 12px;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .name-shop {
      display: flex;
      flex-flow: column;
      a {
        font-weight: bold;
      }
      .status {
        display: block;
        font-size: 12px;
        color: $textGrey1;
        position: relative;
        padding-left: 10px;
        &.online {
          &:before {
            background-color: $green;
          }
        }
        &:before {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 3px;
          background-color: $textGrey1;
          display: block;
          top: 5px;
          left: 0;
          position: absolute;
        }
      }
    }
  }
}
.relate-fish-sell {
  padding: 16px;
  h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold !important;
    margin-bottom: 12px !important;
  }
}
.action-dfs {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  width: 100%;
  .btn-primary {
    width: calc(60% - 8px);
    margin-right: 8px;
  }
  .sub-btn {
    width: 40%;
    margin-right: 0;
  }
  a {
    box-sizing: border-box;
  }
  &.one-btn {
    a {
      margin-right: 0;
      width: 100%;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
}
.list-fish-sell {
  display: flex;
  flex-wrap: wrap;
  
  .item-lfs {
    width: calc((100% - 12px)/2);
    margin-bottom: 12px;
    &:nth-child(2n+2) {
      margin-left: 12px;
    }
    &.hot, &.foru {
      .thumb-lfs {
        &:after {
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          height: 20px;
          font-size: 10px;
          position: absolute;
          top: 4px;
          right: 4px;
          z-index: 1;
          padding: 0 8px;
          font-weight: 600;
          text-transform: uppercase;
          box-sizing: border-box;
        }
      }
    }
    &.hot {
      .thumb-lfs {
        &:after {
          content: "HOT";
          background-color: $red2;
        }
      }
    }
    &.foru {
      .thumb-lfs {
        &:after {
          content: "DÀNH CHO BẠN";
          background-color: $primary;
        }
      }
    }
    .thumb-lfs {
      display: block;
      padding-top: 75%;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        border-radius: 12px 12px 0 0;
        &.sold-out {
          width: 34px;
          height: 34px;
          top: 8px;
          right: 8px;
        }
      }
    }
  }
  .info-lfs {
    background-color: $white;
    padding-bottom: 8px;
    border-radius: 0 0 12px 12px;
    .title-lfs, .proce-lfs {
      font-size: 13px;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    .title-lfs {
      padding: 8px 8px 0;
      text-transform: capitalize;
      @include ttl_hidden(1);
    }
    .proce-lfs {
      margin-top: 4px;
      color: $primary;
      padding: 0 8px;
    }
  }
  .account-lfs {
    display: flex;
    border-top: 1px solid $lineColor;
    padding: 8px 8PX 0;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    .avatar {
      width: 24px;
      height: 24px;
      img {
        border-radius: 12px;
      }
    }
    .adress {
      font-size: 11px;
      line-height: 13px;
      color: $textGrey1;
      @include ttl_hidden(1);
      width: calc(100% - 32px);
    }
  }
  
  &.list-auction {
    .item-lfs {
      width: 100%;
      .info-dfs {
        margin: 0;
        border-radius: 0 0 12px 12px;
      }
      &:nth-child(2n+2) {
        margin-left: 0;
      }
    }
  }
  
}

.info-dfs {
  &.auction-fish {
    padding-bottom: 12px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 68px;
      height: 19px;
      background: url(../img/wave-bottom.svg) no-repeat;
      top: -19px;
      background-size: cover;
    }
    h2 {
      display: flex;
      padding-left: 16px !important;
      .ava {
        width: 40px;
        height: 40px;
        margin-right: 12px;
        margin-top: -20px;
        &.verified:before {
          width: 6px;
          height: 6px;
          font-size: 6px;
        }
        img {
          border-radius: 50%;
        }
      }
    }
    .entry-dfs {
        dl {
          dd {
            color: $green;
            font-weight: bold;
          }
        }
      }
  }
}
ul.timeline-auction {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px 12px;
  position: relative;
  &:before {
    content: "";
    width: calc(100% - 55px);
    height: 1px;
    background-color: $lineColor;
    position: absolute;
    bottom: 45px;
    left: 25px;
  }
  li {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    &:nth-last-child(1) {
      img {
        width: 36px;
        height: 36px;
      }
      .bid {
        font-weight: bold;
        color: $green;
      }
      .dot {
        border-color: $green;
      }
    }
    img {
      width: 24px;
      height: 24px;
      border-radius: 100%;
    }
    .icon-start {
      color: $green;
    }
    .dot {
      width: 8px;
      height: 8px;
      border: 1px solid $colorBorderForm;
      border-radius: 5px;
      margin: 8px 0;
      position: relative;
      background-color: $white;
    }
    .bid {
      font-size: 12px;
    }
    .btn-primary {
      margin-bottom: 12px;
    }
  }
  .ava {
    &.verified:before {
      width: 5px;
      height: 5px;
      font-size: 5px;
      right: -4px;
    }
  }
}
.countdown-auction {
  background-color: rgba($primary,0.1);
  padding: 4px 12px;
  text-align: center;
  text-transform: uppercase;
  color: $primary;
  border-radius: 14px;
  margin: 0 12px;
  span {
    font-weight: bold;
  }
}

.modal-bid {
  .countdown-auction {
    margin: 0;
    text-align: left;
  }
}
ul.list-bid {
  margin-top: 12px;
  max-height: 360px;
  overflow: auto;
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    .ava {
      width: 40px;
      height: 40px;
      margin-right: 8px;
      img {
        border-radius: 50%;
      }
      &.verified:before {
        width: 6px;
        height: 6px;
        font-size: 5px;
      }
    }
    .content-bid {
      width: calc(100% - 48px);
      padding: 12px;
      background-color: $bg_grey;
      border-radius: 12px;
    }
    
    .info-cb {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        font-size: 13px;
        width: calc(100% - 90px);
        display: flex;
        align-items: center;
        .name {
          font-weight: bold;  
          @include ttl_hidden(1);
          max-width: calc(100% - 90px);
        }
        .time {
          margin-left: 8px;
          color: $textGrey;
        }
      }
      
      .price-bid {
        font-size: 13px;
        font-weight: bold;
        color: $textGrey1;
        padding: 2px 8px;
        border-radius: 12px;
        background-color: $bg_grey;
        border: 1px dashed $textGrey1;
      }
      
    }
    &:nth-child(1) {
      .price-bid {
        color: $green;
        background-color: rgba($green,0.1);
        border-color: $green;
      }

    }
    .chat-cb {
      margin-top: 4px;
    }
  } 
}
.form-bid {
  margin: 0 -16px -16px;
  padding: 16px;
  box-shadow: 0px -2px 10px rgba($black1, 0.05);
  .box-bid {
    border: 1px solid $colorBorderForm;
    border-radius: 12px;
  }
  .input-bid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $colorBorderForm;
    padding: 8px 12px;
    input {
      border: none;
      padding: 12px;
    }
    img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }
  }
  .pick-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    
    .default-price {
      color: $textGrey1;
      width: calc(100% - 216px);
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        font-weight: bold;
        color: $black;
        width: calc(100% - 32px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 4px;
      }
    }
    .add-price {
      display: flex;
      .btn-add-price {
        display: block;
        color: $green;
        font-size: 13px;
        padding: 8px 12px;
        border-radius: 20px;
        background-color: rgba($green,0.2);
        font-weight: bold;
        margin-right: 4px;
        &:nth-last-child(1) {
          background-color: $bg_grey;
          color: $textGrey1;
          margin-right: 0;
        }
      }
    }
  }
  .action-bid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;
    a {
      width: calc((100% - 8px)/2);
    }
  }
}
.end-3min {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #FFF9E9;
  border: 1px solid #FFE7AB;
  overflow: hidden;
  .progress-bar {
    background-color: #FFE7AB;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: 0.2s width $eio;
  }
  .countdown-3min {
    color: #D78100;
    position: relative;
  }
  .more-time {
    color: #D78100;
    font-weight: bold;
    position: relative;
  }
}
.end-auction {
  background-color: rgba($red1,0.1);
  font-weight: bold;
  color: $red1;
}
.end-auction-fish {
  .winner-bid {
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
    .img-winner {
      width: 60px;
      height: 60px;
      position: relative;
      margin-right: 24px;
      img {
        border-radius: 50%;
      }
      &:before {
        content: "";
        border: 2px solid #FFCE00;
        width: 66px;
        height: 66px;
        position: absolute;
        top: -5px;
        left: -5px;
        border-radius: 50%;
      }
      &:after {
        content: "";
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(0.7);
        top: -58px;
        background: url("../img/king.svg") no-repeat;
      }
    }
    .text-winner {
      display: flex;
      flex-flow: column;
      .congrat-winner {
        font-size: 18px;
        font-weight: bold;
      }
      .note-winner {
        color: $textGrey1;
        margin: 4px 0;
      }
      .price-winner {
        font-size: 16px;
        font-weight: bold;
        color: $green;
      }
    }
  }
  .contact-boss {
    color: $red1;
    padding: 0 16px;
    text-align: center;
    a {
      font-weight: bold;
    }
  }
  .content-eaf {
    display: flex;
    flex-flow: column;
    padding: 40px;
    align-items: center;
    text-align: center;
    .status {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 12px;
    }
    .refer {
      color: $red1;
    }
  }
}







