@import "global.scss";
.notification {
  .section {
    padding: 0;
  }
}
.sub-page {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-l {
      display: flex;
      align-items: center;
      h1 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 8px;
      }
    }
    .header-r {
      .btn-link {
        font-size: 13px;
      }
    }
  }
}
.list-nh {
  background-color: $white;
  padding-top: 8px;
  margin-top: 0 !important;
  height: calc(100% - 61px);
  overflow-y: auto;
  li.item-notification {
    position: relative;
    padding: 12px 16px;
    display: flex;
    border-bottom: 1px solid #efefef;
    a {
      display: flex;
      width: 100%;
      color: $text_body;
      text-decoration: none;
    }
    &:hover {
      background-color: $bg-grey;
    }
    &:after {
      content: "" !important;
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: $primary;
      right: 12px;
      top: 50%;
      display: none;
      transform: translateY(-50%);
    }
    &.unread {
      &:after {
        display: block;
      }
      .message {
        font-weight: bold;
      }
    }
    .ava {
      width: 44px;
      height: 44px;
      margin-right: 8px;
      &.verified:before {
        width: 6px;
        height: 6px;
        font-size: 6px;
      }
      img {
        border-radius: 22px;
      }
    }
    .content-in {
      width: calc(100% - 52px);
      .react-in {
        display: flex;
        align-items: center;
        i {
          color: $grey_light;
          margin: 0 4px;
        }
        span {
          max-width: 98px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .price {
          color: $green;
          font-size: 12px;
          padding: 2px 8px;
          border: 1px dashed $green;
          font-weight: bold;
          margin-left: 8px;
          border-radius: 12px;
        }
      }
      .message {
        margin: 2px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: calc(100% - 40px);
      }
      .date-in {
        color: $grey_light;
        font-size: 13px;
      }
    }
  }
}

.masonry {
  .masonry-item {
    width: calc((100% - 12px)/2);
    margin-bottom: 12px;
  }
  .masonry-content {
    position: relative;
  }
 
}
.show-dont-sold{
  width: 100% !important;

  .ava{
    width: 24px;
    height: 24px;
    margin-right: 8px;  
    &.verified {
      &:before {
        font-size: 5px;
        right: -5px;
        width: 3px;
        height: 3px;
      }
    }
    img {
      border-radius: 15px;
    }
  }
  .fish-img-show{
    border-radius: 12px 12px 0 0;
    display: block;
    overflow: hidden;
    position: relative;
    background-color: $white;
    &.fish-video:after{
      content:"";
      background: url("../img/icon_play.svg") no-repeat center / 100% auto;
      position: absolute;
      bottom: 8px;
      right: 8px;
      width: 32px;  
      height: 32px;
      z-index: 1;
    }
  }
  .fish-tt{
    justify-content: space-between;
    align-items: center; 
    padding: 8px;
    background-color: $white;
    border-radius: 0 0 12px 12px;
    ul {
      li {
        margin-left: 12px;
        color: $textGrey;
        i {
          margin-right: 4px;
          color: $textGrey1;
        }
      }
    }
  }
}
.like-count, .like-cmt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px; 
}
.like-count {
  &.liked {
    i {
      color: $red2 !important;
    }
  }
}
.show-more{
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #1d9bf0;
  font-weight: bold;
  border-radius: 51px;
  background-color: $white;
  line-height: 44px;
  margin: 15px 0 40px;
  transition: ease 0.2s;
  &:hover{
    background-color: #1d9bf0;
    color: #fff;
  }
}