@font-face {
  font-family: "San Francisco Text";
  src: url("../font/SanFranciscoText-RegularG1.ttf") format("TrueType"),
       url("/fonts/SanFranciscoText-RegularG1.otf") format("OpenType");
  font-weight: normal;
}
@font-face {
  font-family: "San Francisco Text";
  src: url("../font/SanFranciscoText-BoldG1.ttf") format("TrueType"),
       url("/fonts/SanFranciscoText-BoldG1.otf") format("OpenType");
  font-weight: bold;
}


@font-face {
  font-family: 'bettamarket';
  src:  url('../font/bettamarket.eot?rbol9w');
  src:  url('../font/bettamarket.eot?rbol9w#iefix') format('embedded-opentype'),
    url('../font/bettamarket.ttf?rbol9w') format('truetype'),
    url('../font/bettamarket.woff?rbol9w') format('woff'),
    url('../font/bettamarket.svg?rbol9w#bettamarket') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bettamarket' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-auction-fish:before {
  content: "\e900";
}
.icon-event-fish:before {
  content: "\e901";
}
.icon-event-fish-o:before {
  content: "\e902";
}
.icon-show-fish:before {
  content: "\e903";
}
.icon-show-fish-o:before {
  content: "\e904";
}
.icon-buy-fish:before {
  content: "\e905";
}
.icon-buy-fish-o:before {
  content: "\e906";
}
.icon-auction-fish-o:before {
  content: "\e907";
}
.icon-event:before {
  content: "\e908";
}
.icon-filter:before {
  content: "\e909";
}
.icon-share:before {
  content: "\e90a";
}
.icon-p-prev:before {
  content: "\e90b";
}
.icon-p-next:before {
  content: "\e90c";
}
.icon-chat:before {
  content: "\e90d";
}
.icon-comment:before {
  content: "\e90e";
}
.icon-pending:before {
  content: "\e90f";
}
.icon-calendar:before {
  content: "\e910";
}
.icon-next:before {
  content: "\e911";
}
.icon-prev:before {
  content: "\e912";
}
.icon-arrow-left:before {
  content: "\e913";
}
.icon-clip:before {
  content: "\e914";
}
.icon-buy:before {
  content: "\e915";
}
.icon-show:before {
  content: "\e916";
}
.icon-bid:before {
  content: "\e917";
}
.icon-plane:before {
  content: "\e918";
}
.icon-photo:before {
  content: "\e919";
}
.icon-breadcrumb:before {
  content: "\e91a";
  color: #555;
}
.icon-pen:before {
  content: "\e91b";
}
.icon-trash:before {
  content: "\e91c";
}
.icon-private:before {
  content: "\e91d";
}
.icon-eye-see:before {
  content: "\e91e";
}
.icon-eye-blind:before {
  content: "\e91f";
}
.icon-dropdown:before {
  content: "\e920";
}
.icon-bell:before {
  content: "\e921";
}
.icon-start:before {
  content: "\e922";
}
.icon-report:before {
  content: "\e923";
}
.icon-heart:before {
  content: "\e924";
}
.icon-phone:before {
  content: "\e925";
}
.icon-play:before {
  content: "\e926";
}
.icon-arrow-right:before {
  content: "\e927";
}
.icon-search:before {
  content: "\e928";
}
.icon-arrow-up:before {
  content: "\e929";
}
.icon-close:before {
  content: "\e92a";
}
.icon-plus:before {
  content: "\e92b";
}
.icon-check:before {
  content: "\e92c";
}
